<!doctype html>
<html lang='{{ site.lang | default: "en-US" }}'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/dark-mode.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ site.title }}</title>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %} >
        <img src="{{site.photo}}" style="float:right; border-radius: 50%; height:130px; z-index:100; position:relative" />
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <div class="social-links">
            <a href="https://stackoverflow.com/users/yourid" target="_blank" class="stackoverflow">Stack Overflow</a>
            <a href="https://linkedin.com/in/alcarraz" target="_blank" class="linkedin">LinkedIn</a>
            <a href="https://github.com/alcarraz" target="_blank" class="github">GitHub</a>
            <a href="mailto:alcarraz+blog@gmail.com" class="email">Email</a>
        </div>
    </header>
    <section>

        {{ content }}

        {% if page.url == "/" %}
        <h2>Blog Posts</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span> - {{ post.date | date: "%B %d, %Y" }}</span>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

    </section>
</div>
{% if site.github.is_project_page %}
<footer>
    <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
<!--    <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>-->
</footer>
{% endif %}
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>
